body{
   background-attachment: fixed;
   background-color: rgb(140, 140, 175);
   background-image: url(../images/blue-wave.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh; /* relative to window */
   width: 100vw;
}
.pageContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;  /* make them cente whole container content */
   /* position: absolute; top left coner */
   flex-direction: column;
   margin: 5% auto;
} 
.gameGrid{
   display: grid;
   border: 5px solid red;
   grid-template-columns: repeat(5, 132px) ;
   grid-template-rows: repeat(2, 172px);
   /* position: relative; not needed */
   /* height: 500px;
   width: 650px;
   margin: 5% auto; not needed */ 
   
   perspective: 800px; /* to rotate image nicely */
   grid-gap: .2rem .1rem 2rem 1rem;
} 
.gameGrid img{
   width: 120px;
   height: 160px;
   border: 5px solid rgb(116, 116, 145);
   padding: 1px;
   position: absolute;
}

.card{
   position: relative;
   transform-style: preserve-3d;
   /* transform: rotateY(180deg); not needed because we will use the toggle card*/
   transition: all 0.8s ease;
}
.toggleCard{
   transform: rotateY(180deg);
}
.back{
   transform: scaleX(-1); /* because of flip image in x axis */
}
.front{ 
  
  /* cursor: pointer; */
  pointer-events: none;
  backface-visibility: hidden;
  
}


 
   
  
   
   
  




