body{
   background-attachment: fixed;
   background-color: rgb(140, 140, 175);
   /* background-image: */

}

.pageContainer{
   width: 600px;
   margin: 0 auto;  
   /* position: absolute; */
}
   
.gameGrid{
   display: flex;
   /* justify-content: center; */
   flex-wrap: wrap;
   height: 320px;
   width: 100%;
   border: 5px solid red;

}
.gameGrid img{
   width: 120px;
   height: 160px;
   /* border: 2px solid black; */
}